aiohttp==3.8.6
aiosignal==1.3.1
altair==4.0.0
appnope==0.1.3
astor==0.8.1
asttokens==2.2.1
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
base58==2.1.1
beautifulsoup4==4.12.2
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==7.1.2
comm==0.1.3
contourpy==1.1.0
cycler==0.11.0
dacite==1.8.1
datasketch==1.6.4
datasketches==4.1.0
debugpy==1.6.7
decorator==5.1.1
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
Faker==19.2.0
favicon==0.7.0
fonttools==4.41.1
frozenlist==1.4.0
gitdb==4.0.10
GitPython==3.1.32
htbuilder==0.6.1
htmlmin==0.1.12
idna==3.4
ImageHash==4.3.1
importlib-metadata==6.8.0
ipykernel==6.25.0
ipython==8.14.0
ipywidgets==8.0.7
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-widgets==3.0.8
kiwisolver==1.4.4
lambdaprompt==0.5.5
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
mdurl==0.1.2
more-itertools==10.0.0
multidict==6.0.4
multimethod==1.9.1
nest-asyncio==1.5.6
networkx==3.1
numpy==1.23.5
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
pandas-profiling==3.6.6
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
pipdeptree==2.13.0
pipreqs==0.4.13
platformdirs==3.9.1
prettytable==3.8.0
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pydantic==1.10.12
pydeck==0.8.1b0
pydotplus==2.0.2
pyecharts==2.0.3
Pygments==2.15.1
pylance==0.6.2
pymdown-extensions==10.1
Pympler==1.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.1.0
referencing==0.30.0
requests==2.31.0
rich==13.4.2
rpds-py==0.9.2
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
semver==3.0.1
simplejson==3.19.1
six==1.16.0
sketch==0.4.2
smmap==5.0.0
soupsieve==2.4.1
st-annotated-text==4.0.0
stack-data==0.6.2
statsmodels==0.14.0
stqdm==0.0.5
streamlit==1.27.2
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-chat-media==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-lottie==0.0.5
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
threadpoolctl==3.2.0
tk==0.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typeguard==2.13.3
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.4
validators==0.20.0
visions==0.7.5
watchdog==3.0.0
wcwidth==0.2.6
widgetsnbextension==4.0.8
wordcloud==1.9.2
yarg==0.1.9
yarl==1.9.2
ydata-profiling @ https://github.com/pandas-profiling/pandas-profiling/archive/master.zip#sha256=c87a47bd9066b8616e0d22fdf81e1db715838ca9d6968fc9854207abc9ee90c0
zipp==3.16.2
